.eggButton {
	font-size: 4.6rem;
	font-family: 'Paytone One', sans-serif;
	font-style: bold;
	text-align: center;
	-webkit-text-stroke: 1px black;
	color: white;
	letter-spacing: 2px;
	text-shadow:
	   -3px 3px 0 #000
}

.sectionTitle {
	font-size: 5.2rem;
	font-family: 'Paytone One', sans-serif;
	font-style: bold;
	-webkit-text-stroke: 1px black;
	color: white;
	letter-spacing: 2px;
	text-shadow:
	   -3px 3px 0 #000
}

.contentSection {
	font-size: 2rem;
	font-family: 'Karla', sans-serif;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 100px;
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 25px;
	background-color: #00897b;
}

.seperatorEggs {
	margin-top: 40%;
	margin-bottom: 40%;
}

.gameContainer {
	border-bottom: solid white 4px;
}


 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #FFCA28;
  text-decoration: none;
}

/* selected link */
a:active {
  color: FFCA28;
  text-decoration: none;
} 

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.gameTitle {
	color: #FFCA28;
	font-size: 3rem;
	font-family: 'Paytone One', sans-serif;
}